html, body {
    height: 100%;
    background: #121212;
    color: white;
}

#app {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.orator-view {
    display: none;
    height: 100%;
    width: 100%;
}

.orator-view.active {
    display: flex;
    flex-direction: column;
}

/* Vertically center the splash when active */
.orator-view-splash.active {
    align-items: center;
    justify-content: center;
}

.bg-dark, .navbar-dark {
    background-color: #05052b !important;
}

nav.navbar.navbar-dark {
    background-color: #00000000 !important;
    box-shadow: none !important;
}

.book-details .text-muted {
    color: #bebebe !important;
    font-size: .675em;
    line-height: 1.5em;
}

.library-top-image {
    background-image: url(../images/LibraryTitleBackground2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 40px 10px;
    height: 250px;
}

/* Library List Styling */
#library-list {
    padding: 0px 10px;
    padding-bottom: 400px;
}

.book-item {
    display: flex;
    /* align-items: center; */
    padding: 10px;
    margin: 0px auto;
    margin-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #22222250;
}

.book-cover-thumb {
    width: 60px;
    height: 90px;
    object-fit: cover;
    background: #444;
    border-radius: 5px;
}

.book-details {
    flex: 1;
    padding-left: 15px;
}

label.btn-import-books {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    background-color: #6f1a8d;
}