@font-face {
    font-family: 'Athelas';
    src: url('../fonts/Athelas-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Athelas';
    src: url('../fonts/Athelas-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'BradleyHand';
    src: url('../fonts/BradleyHand-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BradleyHand';
    src: url('../fonts/BradleyHand-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

html, body {
    height: 100%;
    background: #121212;
    color: white;
}

#app {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
}

span.navbar-brand {
    margin: auto;
}

.orator-view {
    display: none;
    height: 100%;
    width: 100%;
    /*transition: all 0.5s ease-in-out;*/
}

.orator-view.active {
    display: flex;
    flex-direction: column;
}

/* Vertically center the splash when active */
.orator-view-splash {
    align-items: center;
    justify-content: center;
    background-color: black;
}

.orator-view-splash h1 {
    font-family: 'Crimson Pro', sans-serif;
}

.bg-dark, .navbar-dark {
    background-color: #05052b !important;
}

#view-library .navbar-toggler-icon {
    width: 3rem;
    height: 3rem;
}

.orator-view-library nav.navbar.navbar-dark {
    background-color: #00000000 !important;
    box-shadow: none !important;
    font-family: 'Crimson Pro', sans-serif;
    display: grid;
    justify-content: space-evenly;
    font-size: 1.5rem;
    background: linear-gradient(180deg,rgba(20, 20, 20, 1) -40%, rgba(255, 255, 255, 0) 100%);
}

.orator-view-reader nav.navbar.navbar-dark {
    background-color: #000000 !important;
    box-shadow: none !important;
    padding-top: 5px;
    padding-bottom: 5px;
}

.author-item {
    font-size: 0.8rem;
    line-height: 1.2rem;
    grid-column: 1/-1;
    margin-top: 5px;
    padding-top: 25px;
    padding-bottom: 15px;
    border-top: 1px solid #2a2a2a;
    padding-left: 10px;
    color: #bcbcbc;
}

.author-item:first-child {
    margin-top: 0;
    padding-top: 0;
    border: none;
}

.book-details .text-muted {
    color: #bebebe !important;
    font-size: 7pt;
    line-height: 11pt;
    margin: 0;
}

.library-top-image {
    height: 40vh;
}

.library-top-text {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Crimson Pro', sans-serif;
    text-shadow: 0 0 2px black;
}

#view-library .library-list-header-buttons i.bi-view-list {
    display: none;
}

#view-library .library-list-header-buttons i.bi-grid-3x3-gap-fill {
    display: block;
}

#view-library[data-view="grid"] .library-list-header-buttons i.bi-view-list {
    display: block;
}

#view-library[data-view="grid"] .library-list-header-buttons i.bi-grid-3x3-gap-fill {
    display: none;
}

.library-list-header-buttons {
    padding: 10px 5px 0px 5px;
    text-align: right;
}

.library-list-header-buttons i {
    font-size: 25px;
}

/* Library List Styling */
#library-list {
    padding: 0px 10px;
    padding-bottom: 20px;
    padding-top: 20px;
}

#view-library[data-view="grid"] #library-list {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); */
    grid-template-columns: repeat(auto-fill, 120px);
    grid-column-gap: 10px;
    justify-content: center;
}

#view-library[data-view="grid"] .author-item {
    display: none;
}

#view-library[data-view="grid"] .book-item {
    width: 120px;
}

#view-library[data-view="grid"] .book-item-contianer {
    display: grid;
    padding: 0;
    width: 100%;
    align-content: start;
}

#view-library[data-view="grid"] .book-item-contianer .book-cover-thumb {
    width: 100%;
    height: auto;
}

#view-library[data-view="grid"] .book-details {
    padding: 10px;
}

#view-library[data-view="grid"] .orator-btn-delete-book {
    position: absolute;
    top: 0px;
    right: 0px;
    text-shadow: 1px 1px 3px black;
}

.book-item {
    position: relative;
    margin: 0px auto;
    margin-bottom: 15px;
    border-radius: 10px;
    overflow: hidden;
}

.book-item-contianer {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    background-color: #00000050;
    cursor: pointer;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0px 0px 50px 5px rgb(0 0 0 / 50%) inset;
    height: 100%;
}

.book-cover-thumb {
    width: 100px;
    height: 150px;
    object-fit: cover;
    background: #444;
    border-radius: 5px;
    position: relative;
}

.book-details {
    flex: 1;
    padding-left: 15px;
    position: relative;
    /* border-right: 1px solid #ffffff20; */
    padding-right: 5px;
    /* margin-right: 10px; */
}

.book-details .fw-bold {
    font-size: 1rem;
    line-height: 1.2rem;
    padding-bottom: 0.5rem;
    font-family: 'Crimson Pro';
}

.book-header {
    display: grid;
    align-items: center;
    align-content: center;
    justify-content: center;
    grid-template-columns: 1fr auto;
}

.book-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center
}

.book-description {
    font-size: 7pt;
    color: #a29a98;
    margin-top: 20px;
}

label.btn-import-books {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    background-color: #6E00B3;
}

#view-library {
    background-image: url(../images/lib-back9.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
}

#view-library > div {
    backdrop-filter: blur(5px) contrast(1.1);
    -webkit-backdrop-filter: blur(5px) contrast(1.1);
}

.library-container {
    /* background: linear-gradient(
            to bottom,
            transparent 10vh,
            rgba(30, 30, 30, 0.5) 35vh,
            rgba(30, 30, 30, 1) 60vh
    ); */
}

.library-list-wrapper {
    background: linear-gradient(
            to bottom,
            transparent 0px,
            rgba(20, 20, 20, 0.5) 70px,
            rgba(20, 20, 20, 1) 200px
    );
}

.library-text-wrapper {
    border-top: 1px solid #4b4b4b;
    padding: 40px 20px;
    display: flex;
    padding-bottom: 400px;
    max-width: 800px;
    margin: auto;
    flex-direction: column;
}

.library-text-wrapper textarea {
    width:100%;
    height: 10rem;
    padding: 10px;
    margin-right: 20px;
    margin-bottom: 20px
}

.library-text-wrapper button {
    background-color: #6e00b3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.library-text-wrapper i {
    font-size: 20px;
    margin-right: 5px;
}

#view-library .library-currently-reading {
    padding: 0px 10px;
}

#view-library[data-view="grid"] .library-currently-reading {
    padding: 0px 15px;
}

#view-library .library-currently-reading .library-currently-reading-header {
    font-size: 0.8rem;
    color: #bcbcbc;
    padding-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    text-align: center;
}

#view-library .library-currently-reading .book-item {
    width: 100%;
    max-width: 500px;
}

#view-library .library-currently-reading .book-item .book-item-contianer {
    display: flex;
    padding: 10px;
}

#view-library .library-currently-reading .book-item .book-item-contianer .book-cover-thumb {
    width: 100px;
    height: 150px;
}

#view-library .library-currently-reading .book-item .book-item-contianer .book-details {
    padding-left: 15px;
    padding-right: 5px;
}

#view-library .library-currently-reading .book-item .book-item-contianer .book-details .book-description {
    display: none;
}

#view-library .library-currently-reading .book-item .book-item-contianer .orator-btn-delete-book {
    position: relative;
}

#view-reader {
    background: #eeeeee;
}

#playback-controls {
    bottom: 10px;
    left: 10px;
    right: 10px;
    height: 120px;
    padding: 5px 20px;
    background-color: #ffffffbb;
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: bottom 0.5s ease-in-out;
}

.player-track .progress {
    margin-bottom: 5px;
    height: 5px;
    background-color: #d7d7d7;
}

.player-controls {
    padding: 0 30px;
    padding-top: 3px;
    width: 320px;
    margin: 0 auto;
}

.reader-fullscreen #playback-controls {
    bottom: -140px;
}

.player-controls i {
    font-size: 25px;
    color: black !important;
    line-height: 40px;
}

.player-controls #btn-reader-playpause i {
    font-size: 45px;
}

.player-controls #btn-reader-playpause i.bi-pause-fill {
    display: none;
}

.player-controls #btn-reader-playpause.playing i.bi-play-fill {
    display: none;
}

.player-controls #btn-reader-playpause.playing i.bi-pause-fill {
    display: block;
}

#playback-controls.dark-mode {
    background-color: #222222e0;
}

#playback-controls.dark-mode i {
    color: #c4c4c4 !important;
}

#playback-controls.dark-mode .progress {
    background-color: #505050;
}

#playback-controls.dark-mode .progress-bar {
    background-color: #c4c4c4 !important;
}

.navbar-book-cover-container {
    height: 42px;
    width: 52px;
    text-align: center;
}

.navbar-book-cover-container img {
    height: 100%;
}

.reader-container-wrapper {
    padding: 5px 10px 5px 5px;
    background: #eeeeee;
}

.reader-container-padding {
    height: 500px;
}

.reader-container p {
    padding: 10px;
    color: #121212;
    margin: 0;
    border-radius: 7px;
    text-shadow: 0 0.012rem, 0.02rem 0 0, 0.02rem 0.02rem;
    font-family: "Radley", sans-serif;
    font-weight: 400;
    font-size: 13pt;
    line-height: 15pt;
}

.reader-container p span.italic {
    font-style: italic;
}

.reader-container .reader-paragraph {
    scroll-margin-top: 100px;
}

.reader-container .reader-paragraph.active {
    background-color: #fcd47e52;
}

#playback-chapters {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    bottom: 0;
    transition: all .5s ease-in-out;
}

#playback-chapters.active {
    left: 0;
}

.reader-fullscreen #playback-chapters {
    left: -100% !important;
}

.orator-backdrop {
    width: calc(100% - 300px);
    height: 100%;
    position: absolute;
    display: flex;
    z-index: 0;
    margin-left: 300px;
}

.orator-backdrop.darken {
    background-color: #00000050;
}

.playback-chapters-list-container {
    width: 300px;
    height: 100%;
    background-color: #ffffffcc;
    position: relative;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 2px 2px 20px #0000009c;
}

.playback-chapter-item {
    padding: 5px 10px;
    border: 2px solid #00000012;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: black;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 10px;
    font-family: 'Crimson Pro', sans-serif;
    text-shadow: 0.2px 0.2px 0.5px black;
}

.playback-chapter-item.active {
    background-color: #6f1a8d30;
}

.playback-chapter-item span.italic {
    font-style: italic;
}

.playback-chapter-header {
    padding: 0;
    margin: 0;
    font-family: 'Crimson Pro', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 10px;
    background: black;
    height: 100px;
    min-height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.playback-chapter-header h1 {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    text-shadow: 0 0 5px black;
}

.playback-chapters-list {
    overflow: auto;
    flex-grow: 1;
    padding: 0 5px;
    padding-bottom: 100px;
}

.buffer-health {
    color: #acacac;
    text-align: center;
    padding-bottom: 5px;
    font-size: 0.7rem;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 10px;
    align-items: center;
}

.buffer-health .chapter-timings {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    margin-top: 2px;
}

.buffer-health .spinner-border {
    opacity: 0;
    transition: opacity 1s;
    height: 10px;
    width: 10px
}

.buffer-health-info {
    display: grid;
    grid-template-columns: auto auto auto;
    align-content: center;
    align-items: center;
    grid-column-gap: 5px;
}

.buffer-health-info span, .buffer-health-info i {
    margin-top: 3px;
}

.buffer-health .buffer-health-info i {
    font-size: 10px;
    line-height: 10px;
}

.buffer-health .buffer-health-info i.persisted {
    color: #00800070;
}

.buffer-health .spinner-border.active {
    opacity: 1;
}

div#message-board-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(2px) brightness(0.8);
    -webkit-backdrop-filter: blur(2px) brightness(0.8);
}

.message-board-backdrop {
    background: #5d5d5d99;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message-board-inner {
    width: 300px;
    text-align: center;
    background: #252525;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 20px;
}

.message-board-header {
    text-transform: uppercase;
    border-bottom: 4px solid #00000040;
    padding-bottom: 10px;
}

.message-board-container {
    padding-top: 10px;
    font-size: 1rem;
    word-break: break-word;
    text-align: left;
}

.message-board-container .progress {
    height: 5px;
}

.message-board-container .progress .progress-bar {
    background-color: #9f5ca3;
}

.progress .progress-bar {
    transition: width 0.2s ease-in-out;
}

#playback-settings {
    position: fixed;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 0;
    transition: all .5s ease-in-out;
    background: #000000cc;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    box-shadow: 0px -2px 5px black;
    border-radius: 10px 10px 0 0;
    font-size: 9pt;
}

#playback-settings .form-control,
#playback-settings .form-select {
    font-size: 10pt;
}

#playback-settings.active {
    height: 65%;
    border-top: 5px solid #212121;
}

.playback-settings-wrapper {
    padding: 10px 0;
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
    max-width: 800px;
    margin: auto;
}

.playback-settings-header {
    margin: 10px auto;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1rem;
}

.playback-settings {
    overflow: auto;
}

.accordion {
    --bs-accordion-bg: #1e1e1e00;
    --bs-accordion-color: #ffffff;
    --bs-accordion-border-color: #333;
    --bs-accordion-btn-bg: #252525;
    --bs-accordion-btn-color: #ffffff;
    --bs-accordion-active-bg: #3d3d3d;
    --bs-accordion-active-color: #ffffff; /* Highlight color */
}

#btn-playback-settings-save {
    font-size: 1.5rem;
}

label.form-label {
    font-size: 0.8rem;
}

.speech-cust-add-btn {
    text-align: center;
}

.speech-cust-add-btn i {
    color: white;
    font-size: 24px
}

.speech-cust-item {
    display: grid;
    grid-template-columns: 1fr 1fr 30px;
    grid-column-gap: 10px;
    color: white;
    margin-bottom: 10px;
}

.speech-cust-item label {
    font-size: 0.8rem;
}

.speech-cust-item button {
    color: white;
}

.error-banner.active {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.settings-reset-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto;
}

.form-floating {
    --bs-body-bg: #2b2b2b;
}

.check-box-group.check-box-group-voice {
    display: none;
    grid-template-columns: auto auto auto;
    font-size: 9pt;
    margin-top: -5px;
    padding: 0 10px;
    border: 1px solid #495057;
    border-top: none;
    padding-top: 15px;
    border-radius: 0 0 10px 10px;
}

.check-box-group.check-box-group-voice.active {
    display: grid;
}

.check-box-group-title {
    grid-column: 1/-1;
    padding-bottom: 10px;
    color: #dadee3;
}

.type-settings {
    padding: 20px;
    padding-top: 0;
}

.type-settings-heading {
    padding: 10px 0;
    font-size: 1rem;
    border-top: 1px solid #5a5a5a;
}

.color-settings {
    display: grid;
    grid-template-columns: 1fr;
    align-content: stretch;
    justify-content: space-between;
    align-items: baseline;
    justify-items: stretch;
    padding-top: 15px;
    border-top: 1px solid #495056;
    margin-top: 20px;
    margin-bottom: 10px;
    grid-gap: 10px;
}

.color-settings > div {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 5px;
    height: 32px;
    justify-items: start;
    align-items: start;
}

.color-settings > div label {
    margin: auto 0;
}

.color-settings .pickr, .color-settings .pickr button {
    width: 100%;
    height: 100%;
}

.color-settings .pickr button {
    border-radius: 10px;
    overflow: hidden;
}

.form-slider-stack {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas:
        "label value"
        "input value";
    column-gap: 10px;
    align-items: center;
    border: 1px solid #495057;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 10px;
}

.form-slider-stack label {
    grid-area: label;
}

.form-slider-stack input {
    grid-area: input;
}

.form-slider-stack div {
    grid-area: value;
    text-align: center;
    width: 50px;
    height: 100%;
    align-content: center;
    grid-row: 1/3;
}

/** Media queries for desktop only */

@media only screen and (min-width: 750px) {
    #library-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 15px;
        margin: 20px 20px;
        padding: 20px;
        margin-bottom: 0;
    }

    #library-list .book-item {
        width: 100%;
    }

    #playback-settings {
        top: 0;
        left: auto;
        right: -520px;
        width: 500px;
        height: auto;
    }

    #playback-settings.active {
        height: auto;
        right: 0;
        border-top: none;
    }

    #view-library[data-view="grid"] .book-item {
        width: 180px;
    }

    #view-library .library-currently-reading .book-item {
    width: 100%;
    max-width: 500px;
}

    #view-library[data-view="grid"] #library-list {
        grid-template-columns: repeat(auto-fill, 190px);
    }
}

@media only screen and (min-width: 1400px) {

    #view-library {
        background-position-y: top;
    }

    #view-library > div {
        backdrop-filter: blur(7px);
        -webkit-backdrop-filter: blur(7px);
    }

    #playback-chapters {
        left: 0 !important;
        width: 300px !important;
    }

    #playback-chapters .orator-backdrop {
        display: none !important;
    }

    #view-reader {
        padding-left: 300px
    }

    #view-reader.reader-fullscreen {
        padding-left: 0;
    }

    #playback-controls {
        right: 40px;
        margin-left: 330px;
    }

    .reader-container-wrapper {
        padding: 20px 30px;
    }

    .reader-container {
        max-width: 700px;
        margin: auto
    }

    #library-list {
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
    }

}

@media only screen and (min-width: 2000px) {
    #library-list {
        grid-template-columns: repeat(5, 1fr);
    }
}